[mysqld]
max_connections         = 100
wait_timeout            = 60
interactive_timeout     = 60
thread_cache_size       = 8

# for ram = 1~2G:384M, 512M:256M, <=128M:16M
key_buffer_size         = 16M

#default: 1M, can up to 16M or 32M
max_allowed_packet      = 1M

# 64bit:256k, 32bit:192k
thread_stack            = 192K

# for ram 1~2G:64M, 512M:64M, <=128M:8M
myisam_sort_buffer_size = 8M

# for ram 1~2G:2M, 512M:1M, <=128M:512K
sort_buffer_size        = 512k

# for ram >4G:2M, 1~2G:2M, 512M:1M, <=128M:256K
read_buffer_size        = 256k

# for ram >4G:16M, 1~2G:8M, 512M:4M, <=128M:512K
read_rnd_buffer_size    = 512k

# for ram >4G:2048, 1~2G:512, 512M:256, <=128M:64
table_open_cache        = 64

# for ram >4G:64M
#tmp_table_size          = 10M

# for ram >4G:64M
#max_heap_table_size     = 10M

open_files_limit        = 2048

#myisam-recover         = BACKUP
myisam-recover-options = BACKUP

#query_cache_type        = 1
#query_cache_limit       = 2M
# for ram >4G:64M, 1~2G:32M, 512M:16M, <=128M:none 
#query_cache_size        = 32M

[mysqldump]
quick
quote-names
max_allowed_packet      = 16M

[mysql]
no-auto-rehash

[isamchk]
key_buffer_size         = 16M

[myisamchk]
# for ram = 1~2G:256M, 512M:128M, <=128M:20M
key_buffer_size = 20M

# for ram >4G:8M, 1~2G:2M, 512M:1M, <=128M:512k
sort_buffer_size = 512k

read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
